body {
    color: #333;
    background: bisque;
}

.container {
    margin: auto;
    max-width: 500px;
}

.todoListBlock {
    padding: 30px;
    margin: 30px;
    background: white;
}

.todoListTitle {
    margin: 0 0 30px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: 300;
    align-self: center;
}

.listBlock li {
    counter-increment: step-counter;
    overflow: hidden;
    padding: 0 0 20px 30px;
    position: relative;
}

.listBlock li:before {
    content: counter(step-counter);
    background: coral;
    color: #fff;
    font-size: 16px;
    padding: 0 6px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.inputAndButtonBlock {
    margin: 0 -5px;
    overflow: hidden;
    position: relative;
}

.inputAndButtonBlock .inputBlock {
    width: auto;
    padding: 0 0 10px;
}

input{
    width: 94%;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    transition: border 0.3s linear;
}

input:focus {
    border-color: coral;
    outline: none;
}

.addButton {
    background: coral;
    border: none;
    outline: none;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 40px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s linear;
}

.addButton:hover {
    background: lightcoral;
}
