/* Main game-Grid properties */
.board {
  background-color: lightslategray;
  border: 3px solid lightslategray;
  margin: auto;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 3px;
}
.container {
  margin: auto;
  max-width: 406px;
  background: bisque;
}

.status-messages {
  padding: 30px;
  margin: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  align-self: center;
}
.restartButton {
  background: coral;
  border: none;
  outline: none;
  margin: 20px 0px 0px 0px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 40px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s linear;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  max-width: 346px;
  background: bisque;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  align-self: center;
}
.player1Score{
  color: tomato;
  margin-left: 20px;
}
.player2Score{
  color: #33DBFF;
  margin-right: 20px;
}
/* Grid items */
.cell {
  --cell-size: calc((400px / 3) - 3px);
  --mark-size: calc(var(--cell-size) * .9);
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: bisque;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cell:hover{
  background-color: rgba(255, 228, 196, .6);
  transition: background-color 1s;
  cursor: pointer;
}
/* X mark properties */
.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.cell.x::before,
.cell.x::after{
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}
/* Drawing X mark */
.cell.x::before{
  transform: rotate(45deg);
}

.cell.x::after{
  transform: rotate(-45deg);
}
/* Circle mark properties */
.cell.circle::before,
.cell.circle::after{
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before{
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after{
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: bisque;
}

.verticalCombinationWin::before,
.verticalCombinationWin::after{
  background-color: #00ff00;
  z-index: 100;
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .1);
  height: calc(var(--mark-size) * 3);
}

.HorizontalCombinationWin::before,
.HorizontalCombinationWin::after{
  background-color: #00ff00;
  z-index: 100;
  content: '';
  position: absolute;
  transform: rotate(90deg);
  width: calc(var(--mark-size) * .1);
  height: calc(var(--mark-size) * 3);
}
.MainDiagonalCombinationWin::before,
.MainDiagonalCombinationWin::after{
  background-color: #00ff00;
  z-index: 100;
  content: '';
  position: absolute;
  transform: rotate(-45deg);
  width: calc(var(--mark-size) * .1);
  height: calc(var(--mark-size) * 3);
}
.SecondDiagonalCombinationWin::before,
.SecondDiagonalCombinationWin::after{
  background-color: #00ff00;
  z-index: 100;
  content: '';
  position: absolute;
  transform: rotate(45deg);
  width: calc(var(--mark-size) * .1);
  height: calc(var(--mark-size) * 3);
}
/* Animated Details */
details{
  display:block;
  margin: auto;
  background: #edf2f7;
  width:400px;
  border-radius: 8px;
  overflow:hidden;
  margin-bottom: 1.5rem;
}

summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary {
  display:block;
  padding: .3em 1em .3em .9em;
  border-bottom: 1px solid #e2e8f0;
  font-size:1.4em;
  cursor: pointer;
  position: relative;
}

summary:after {
  content: "+";
  margin-left: .5em;
  display: inline-block;
  transition: transform .5s;
}

details[open] > summary:after {
  transform: rotateZ(180deg);
}

summary ~ * {
  padding: 0 1em 0 1.4em;
}

details[open] summary ~ *{
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

summary:focus {
  outline:0;
}
